:root {
  /*Text Colors*/

  --main-text-color: #000000;
  --button-light-text-color: #ffffff;
  --base-text-color: #030229;
  --selected-text-color: #605bff;
  --valid-text-color: #3a974c;
  --invalid-text-color: #d11a2a;

  /*Cards colors*/

  --main-button-color: #605bff;
  --main-card-color: #ffffff;
  --main-card-dark: #1a2027;
  --valid-bg: #3bb45347;
  --invalid-bg: #ea192a33;
  --hover-soft-bg: #5b93ff;
  --hover-soft-menu: #aca9ff1b;

  /*Logo colors*/
  --main-logo-color: #605bff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafb;
  overflow: hidden;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #605bff transparent;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #605bff;
  border-radius: 10px;
  border: 2px solid transparent;
}
